.main-title {
	margin-top: 30px;
	margin-bottom: 10px;
	border: 1px solid #19b3ca;
	background-color: #17a2b8;
	border-radius: 5px;
	color: white
}

.main-content {
	margin-top: 30px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 30px;
}